.progressBar {
  --progress-bar-track-bg: var(--ux-1u2jy43, #d6d6d6);
  --progress-bar-fill-bg: var(--ux-f7kpiw, #00a4a6);
  --progress-bar-font-size: var(--ux-16aixzc, 0.875rem);
  --progress-bar-label-color: var(--ux-1leynsm, #111111);
  --progress-bar-label-lh: var(--ux-hm1ty7, 1.375);
  --progress-bar-helper-color: var(--ux-1m9ys0v, #767676);
  --progress-bar-helper-lh: var(--ux-1w31hux, 1.5);
  --progress-bar-track-radius: 6px;
  --progress-bar-content-gap: var(--ux-1sbfig8, 8px);
  --progress-bar-track-height: 24px;

  &:where([data-size="xs"]) {
    --progress-bar-track-height: 6px;
  }

  &:where([data-size="sm"]) {
    --progress-bar-track-height: 12px;
  }

  &:where([data-status="success"]) {
    --progress-bar-fill-bg: var(--ux-1ep3kxj, #00a63f);
  }

  &:where([data-status="warning"]) {
    --progress-bar-fill-bg: var(--ux-lv1r6m, #de7c00);
  }

  &:where([data-status="critical"]) {
    --progress-bar-fill-bg: var(--ux-1fhc073, #db1802);
  }
}

.label {
  font-size: var(--progress-bar-font-size);
  font-weight: bolder;
  line-height: var(--progress-bar-label-lh);
  color: var(--progress-bar-label-color);
}

.valueLabel {
  font-size: var(--progress-bar-font-size);
  line-height: var(--progress-bar-label-lh);
  color: var(--progress-bar-label-color);
}

.track {
  position: relative;
  height: var(--progress-bar-track-height);
  border-radius: var(--progress-bar-track-radius);
  background: var(--progress-bar-track-bg);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: var(--progress-bar-fill-bg);
    width: var(--progress-bar-progress, 0%);
  }
}

.helperText {
  font-size: var(--progress-bar-font-size);
  line-height: var(--progress-bar-helper-lh);
  color: var(--progress-bar-helper-color);
}
